﻿@using WebOpenDoor.Models

@model Door

<form>
    <div class="form-group">
        <div id="msgAjaxModal"></div>
    </div>
    
    <input hidden asp-for="DoorId" />
    <input hidden asp-for="Active" />
    <div class="form-group">
        <label asp-for="Nome"></label>
        <input class="form-control" asp-for="Nome" />
    </div>
</form>