﻿
@{
    ViewData["Title"] = "Usuários";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="d-block p-2 bg-dark text-white">
                <div class="row">
                    <div class="col-md-10">
                        <h2>Usuários</h2>
                    </div>
                    <div class="col-md-2 text-right">
                        <a href="#" class="btn btn-success" style="margin-top: 5%; padding: 2px 5px" onclick="abrirModalUserForm(0)"><i class="fas fa-plus"> Add</i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-striped table-bordered" id="gridUsers">
            </table>
        </div>
    </div>
</div>

<script src="~/js/user/index.js" asp-append-version="true"></script>