﻿@using WebOpenDoor.Models

@model User

@{ 
    var listaPortas = (IEnumerable<Door>) ViewData["listaPortas"];
}

<form>
    <div class="form-group">
        <div id="msgAjaxModal"></div>
    </div>
    
    <input hidden asp-for="UserId" />
    <input hidden asp-for="Active" />
    <div class="form-group">
        <label asp-for="UserName">Nome</label>
        <input class="form-control" asp-for="UserName" />
    </div>
    <div class="form-group">
        <label asp-for="UserRfId">Crachá ID</label>
        <input class="form-control" asp-for="UserRfId" />
    </div>

    <div class="form-group">
        <label>Permissões</label>
        <div class="overflow-auto" style="max-height: 150px">
            @foreach (var porta in listaPortas)
            {
                string permitido = Model.Doors.Any(a => a.DoorId == porta.DoorId) ? "checked" : "";
                <div>
                    <input id="DoorIdPermission-@porta.DoorId" name="DoorIdPermission" type="checkbox" value="@porta.DoorId" @permitido />
                    <label for="DoorIdPermission-@porta.DoorId">@porta.Nome</label>
                </div>
            }
        </div>
    </div>

    @if (string.IsNullOrEmpty(Model.Login))
    {
        <div class="form-group hideLogin">
            <label asp-for="Login"></label>
            <input class="form-control" asp-for="Login" />
        </div>
        <div class="form-group hideLogin">
            <label asp-for="Password"></label>
            <input class="form-control" type="password" asp-for="Password" />
        </div>
    }
</form>