﻿
@{
    ViewData["Title"] = "Acessos";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="d-block p-2 bg-dark text-white">
                <div class="row">
                    <div class="col-md-10">
                        <h2>Acessos</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table table-striped table-bordered" id="gridAccessLog">
            </table>
        </div>
    </div>
</div>

<script src="~/js/accessLog/index.js" asp-append-version="true"></script>